body {
  padding: 0;
  margin: 0;
  background-color: #181818;
  color: white;
  font-family: sans-serif;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: hsla(0,0%,0%,0.63);
}

header > img {
  height: 37px;
  margin: 1vw;
}

#botoes {
  float: right;
  margin-top: 1%;
  margin-right: 6%;
}

button > a {
  color: white;
  text-decoration: none;
}

button.assine {
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  background-color: red;
  padding: 10px;
}

#botoes > button:nth-child(2) {
  border: 1px solid gray;
  border-radius: 3px;
  background-color: transparent;
  color: white;
  padding: 10px;
  margin-left: 10px;
}

div#container {
  display: inline-block;
  align-items: center;
  width: 950px;
  margin-top: 55px;
  margin-left: 18px;
}

div#container >div:nth-child(1) {
  max-width: 600px;
}

h1 {
  min-width: 290px;
  font-size: 30px;
}

nav {
  display: flex;
  width: 97%;
  overflow-x: auto;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.borrao {
  overflow-x: hidden;
  filter: blur(5px);
}

nav > span {
  text-align: center;
  margin-right: 10px;
}

span > a {
  color: white;
  text-decoration: none;
}

footer {
  margin-top: 200px;
}

aside {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 19px;
  max-width: 780px;
}

button#assineEmbaixo {
  height: 50px;
  width: 20em;
  max-width: 20em;
  padding: 10px;
  margin-bottom: 200px;
}

div#suporte {
  margin-left: 3%;
}

div#suporte a, li a {
  text-decoration: none;
  color: #696969;
}

div#short {
  display: flex;
  flex-wrap: wrap;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 200px;
}

li {
  padding-top: 20px;
  list-style-type: none;
}

form > select#idioma {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px;
  border-radius: 3px;
  background-color: black;
  color: #696969;
}

@media(max-width: 900px) {
  div#container {
    width: 95%;
  }
  nav {
    font-size: 14px;
  }
  span > img {
    height: 22vw;
  }
  aside {
    margin-left: 13px;
    font-size: 23px;
    width: 300px;
  }
  ul {
    width: 40%;
    margin-left: -2%;
  }
}
